{% extends 'services/base.html' %}
{% load static %}
{% block content %}
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="about-title clearfix">
								<h1>About <span>YalaFix</span></h1>
								<h3>Home Services Application For You </h3>
								<p class="about-paddingB">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet dolor libero, eget venenatis mauris finibus dictum. Vestibulum quis elit eget neque porttitor congue non sit amet dolor. Proin pretium purus a lorem ornare </p>
								<p>sed lobortis pulvinar. Integer laoreet mi id eros porta euismod. Suspendisse potenti. Nulla eros mauris, convallis et sem tempus, viverra hendrerit sapien</p>
                                
                                <div class="row">
                                    <h3>Our Team </h3>
                                    <div class="col-md-6 col-lg-3">
                                      <div class="img-block mb-5">
                                        <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
                                        <div class="content mt-2">
                                          <h4>Zain Knob</h4>
                                          <p class="text-muted">Mechanical Engineer</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 ">
                                      <div class="img-block mb-5">
                                        <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
                                        <div class="content mt-2">
                                          <h4>Syndia Lee</h4>
                                          <p class="text-muted">Software Engineer</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                      <div class="img-block mb-5">
                                        <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
                                        <div class="content mt-2">
                                          <h4>Noel Flantier</h4>
                                          <p class="text-muted">Joomla Specialist</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                      <div class="img-block mb-5">
                                        <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
                                        <div class="content mt-2">
                                          <h4>Bobby Doe</h4>
                                          <p class="text-muted">Street Artist</p>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
						<div class="col-md-5 col-sm-6">
							
                            <div class="about-img">
								<img src="{% static "images\homeservices3.jfif" %}" alt="">
							</div>
						</div>
                        
                    </div>
                </div>
            </div>
{% endblock content %}