{% extends 'services/base.html' %}
{% load static %}
{% block content %}
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="about-title clearfix">
								<h1>Contact <span>YalaFix</span></h1>
								<h3>If you want to contavt us!</h3>
                                <p class="font-italic mb-1 about-paddingB">Our Email:</p>
                                <p class="font-italic mb-1 about-paddingB">Our Phone:</p>
                                <p class="font-italic mb-1 about-paddingB">Our Team:</p>
                            </div>
                        </div>
						<div class="col-md-5 col-sm-6">
							
                            <div class="about-img">
								<img src="{% static "images\homeservices3.jfif" %}" alt="">
							</div>
						</div>
                        
                    </div>
                </div>
            </div>
{% endblock content %}