{% extends 'services/base.html' %}
{% load static %}
{% block title %}Profile Info{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">

	<form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Profile Info
            </legend>
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <input class="btn-outline-dark btn" type="submit" value="OK" />
        </div>
    </form>
	
{% endblock %}