{% extends 'services/base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        {% if favourites %}
        {% for provider in favourites %}
        <div class="col-lg-4">
            <a href="{% url 'profile_pk' pk=provider.user.pk %}">
                <img class="thumbnail" src="{{provider.user.profile.photo.url}}" alt="">
            </a>
            <div class="box-element product">
                <di><h4><strong>{{provider.user.username}}</strong></h4>
                <p class="text-muted">{{provider.user.profile.fname}} {{provider.user.profile.lname}}</p>
                </div><hr>
                <a class="btn btn-outline-danger" href="{% url 'users:add_to_favourite' provider.pk %}">remove from fav</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        
<div class="content-section">
    <h2>Your favourite list is empty!</h2>
</div>
        {% endif %}
</div>
{% endblock content %}


