{% extends 'services/base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        {% if  confirmed %}
        {% for booking in confirmed %}
        <div class="col-lg-4">
            <a href="{% url 'appointment_details_cust' pk=booking.pk %}">
                <h1>Appointment Details</h1>
            </a>
            <div class="box-element product">
                <h4><strong>{{booking.provider.user.profile.service}}</strong></h4>
                <p class="text-muted">{{booking.date}} - {{booking.time}}</p>
                <hr>
                <p class="text-muted">{{booking.status}}</p>
            </div>
        </div>
        {% endfor %}
        
        {% else %}
        <div class="content-section">
            <h2>There is no confirmed orders yet!</h2>
        </div>
        {% endif %}
</div>
{% endblock content %}


