{% extends 'services/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <h2 class="h3 mb-4 page-title">My Appointments</h2>
            <div class="my-4">
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
                            <a class="nav-link active"  style="color:black;" href="{% url 'my_schedule_pending' %}" >
                            <strong class="mb-2">Pending Appointments</strong>
                            <p class="text-muted mb-0">Appointments don't confirmed yet!</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
                            <a class="nav-link active"  style="color:black;" href="{% url 'my_schedule_confirmed' %}" >
                            <strong class="mb-2">Confirmed Appointments</strong>
                            <p class="text-muted mb-0">Appointments don't Completed yet!</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
                            <a class="nav-link active"  style="color:black;" href="{% url 'my_schedule_completed' %}" >
                            <strong class="mb-2">Completed Appointments</strong>
                            <p class="text-muted mb-0">!!</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


